# module files
*.egg
*.egg-info/

# compiled python files
*.pyc
*.pyo

# temporary files from vim
*.swp

# Apple cruft
.DS_Store

# Eclipse stuff
.project
.pydevproject

# IntellJ-specific files
.idea/
build/
*.iml
atlassian-ide-plugin.xml
